---
layout: base.njk
ogType: article
section: blog
---
<article class="post wrap">
  <a class="back-link" href="/blog/">← Blog</a>
  <header class="post-header"><time datetime="{{ page.date | isoDate }}">{{ page.date | dateLabel }}</time><h1>{{ title }}</h1><p class="post-description">{{ description }}</p></header>
  <div class="prose">{{ content | safe }}</div>
</article>
