---
layout: base.njk
title: Blog
description: Writing by Jaime de la Torre.
section: blog
permalink: /blog/
---
<section class="text-page wrap">
  <h1>Blog</h1>
  {% if collections.articles.length %}
  <div class="article-list">
    {% for post in collections.articles %}
    <a class="article-row" href="{{ post.url }}">
      <span class="article-icon" aria-hidden="true">{% include "blog-icons/" + (post.data.icon or 'speech') + ".svg" %}</span>
      <div><time datetime="{{ post.date | isoDate }}">{{ post.date | dateLabel }}</time><h2>{{ post.data.title }}</h2><p>{{ post.data.description }}</p></div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <p class="empty-note">No posts yet.</p>
  {% endif %}
</section>
